body{
    background-color: rgbA(58, 94, 171,0.8);        
    color: white;
}


/***************************** JUMBOTRON *******************************************/
.jumbotron{
    margin-top: 50px;
    color: rgb(205,205,255);
    position: relative;
    text-align: center;
    color: rgb(2, 41, 1); 
    margin-bottom: 40px;
    height: 200px;

}
.jumbotron h1{
    font-size: 9vw; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bkgImage{
    height: 200px;
    width: 100%;
    filter: opacity(70%);
    position: absolute;
    left: 0;
    top: 0;
}


/***************************** BREADCRUMB *******************************************/

.breadcrumb{
    background-color: #343a40
}
.breadcrumb span{
    color: #6c757d;
}
.breadcrumb a{
    color: rgba(108, 117, 125, 0.612);
}


/***************************** CARDS *******************************************/

.card-hotel{
    flex: 1 200px;
    margin-top: 20px;
    background-color: #3f464d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 5px 10px 5px;
    text-align: justify;
}

.card-hotel h4{    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(88, 125, 206);
    font-size: 32px;

}

.card-header{
    background-color: #343a40;    
    color: white;
    font-size: 12px;
    padding: 2px 6px;
}

.card-img-top{
    margin-bottom: 5px;
}

.bkgrey{
    background-color: #343a40;    
    color: white;
    border-radius: 5px;
    padding: 2px 20px 2px 20px;
    margin-bottom: 20px;
}
.bkgrey p{
    color: #6c757d;    
}

/***************************** BUTTONS *******************************************/

.btn-success{
    border-radius: 0;
    width: 100%;
    background-color: rgb(58, 94, 171);    
    border: none;
}

.btn-success:hover{    
    color: rgba(255, 255, 255, 0.516);
    background-color: rgb(48, 85, 164);    
    border: none;
}



/***************************** TABS *******************************************/

.tabs li{
    border: 1px solid #343a40;
    border-radius: 5%;
    border-bottom: none;
}

.tabs a{
    color:#e1e1e1;    
}
.tarj{
    background-color: inherit;
    border:none;
}
.tarj li{
    font-size: 22px;
    font-weight: bold;
}

/***************************** FOOTER *******************************************/

footer{
    text-align: center;
    padding: 10px 10px 0 10px;
    background-color: #212529;
    margin-bottom: 0;
    margin-top: 20px;
}
address{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    margin-top: 20px;
    }
    
footer a:hover{
    color: rgba(111, 128, 144, 0.5);
    text-decoration: none;
    }

footer h3{
    color: #6c757d;    
    background-color: rgb(31, 34, 38);
    margin-bottom: 20px;
}

footer .icon{
    margin-right: 12px;
}