@model MVCSistemaWebAlumnos.Models.Alumno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Alumno</title>
</head>
<body>
    <div> 
        @Html.Partial("_Create")
    </div>
</body>
</html>
