@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

@font-face {
    src: url('../fonts/BodoniFLF-BoldItalic.ttf');
    font-style: normal;
    font-weight: bold;
    font-family: miFuente;
}

:root {
    --black : #000;
    --black2: rgba(0,0,0,.5);
    --white: #fff;
    --dark-grey: hsla(0, 0%, 60%, 0.5);
    --grey: hsla(0, 0%, 100%, 0.5);
    --orange: hsl(25, 91%, 37%);
    --light-orange: hsl(25, 91%, 65%);
    --mustard: hsla(47, 100%, 53%, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
    counter-reset: miContador;
}

main {
    width: 100%;
}

article {
    float: left;
    width: 50%;
    padding: 1em;
}

.container-fluid {
    position: fixed;
    background-color: var(--black2);
    height: 100%;
    top: 0;
    left: 0;
    color: var(--white);
    z-index: 1000;
}

.container {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
}


header {
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header div {
    width: 50%;
    background-color: var(--grey);
}

header,
.nosotros div{
    margin-bottom: 2em;

}

header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2em;
}

header h1 span {
    color: var(--orange);
    font-family: miFuente;
    font-size: 2.2em;
}

h1,
h4{
    margin: 0 1em;
}

h2,
h3 {
    font-family: miFuente;
    text-align: center;
    color: var(--orange);
    padding: .5em;
}

h2 {
    font-size: 3.2em;
}

h3 {
    font-size: 3em;
    margin: 1em;
}

h4 {
    color: var(--light-orange);
    font-size: 1.4em;
    border-bottom: 1px dotted var(--orange);
    text-shadow: 2px 3px 2px var(--mustard);
}

h4::before {
  counter-increment: miContador;
  content: counter(miContador, upper-roman) "-";
  font-variant: small-caps;
  font-size: 10px;
}

h4::after {
    content: "\e900";
    font-family: 'icomoon';
}

p {
    font-size: 1.2em;    
    margin: 2em 2em;
}

.nosotros p{
    margin: 2em auto;
    text-align: center;    
    max-width: 70%;
}

.activo {
    text-decoration: underline;
}

#chat {
    z-index: 999;    
    position: fixed;
    left: 95%;
    top: 88%;
    background-image: linear-gradient(rgba(226,127,14,.5), rgba(255,255,255,.5)), url(../images/chat.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
}

.division div img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 10px / 20px;
    box-shadow: 1px 3px 10px var(--black);
}

.division img:hover {
    opacity: .8;
}

.nosotros .grilla {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px 200px;
    margin: 0 1em;
}

.grilla div{
    box-shadow: 1px 3px 10px var(--black);
    border-radius: 5%;
}

.grilla div:first-child {
    background-position: -140px 0;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url(../images/gym-00.jpg) top left / cover no-repeat;
}

.grilla div:nth-child(2) {
    background-image: url(../images/gym-02.jpg);
}

.grilla div:nth-child(3) {
    background-image: url(../images/gym-03.jpg);       
    background-size: contain;
}

table{
    width: 80%;
    margin: 3em auto;
    border: 5px solid var(--black);
    background-color: var(--dark-grey);
    box-shadow: 1px 3px 10px var(--black);

}

th {
    width: 33%;
}

td, 
th,
tr{
    border: 1px double var(--black);
}

td,
th{
    padding: .5em;
}

td:hover {
    background-color: var(--dark-grey);
}

thead tr:first-child th:first-child{
    text-align: center;
    font-size: 3em;
    background-color: var(--dark-grey);
    color: var(--orange);
    font-family: miFuente;
}

thead tr:last-child{
    font-size: 2em;
    color: var(--light-orange);
}

nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: rgba(207,92,11,1);
    background: -moz-linear-gradient(top, hsl(25, 91%, 43%) 0%, hsl(25, 71%, 47%) 85%, hsl(25, 71%, 50%) 100%);
    background: -webkit-linear-gradient(top, hsl(25, 91%, 43%) 0%, hsl(25, 71%, 47%) 85%, hsl(25, 71%, 50%) 100%);
    background: -ms-linear-gradient(top, hsl(25, 91%, 43%) 0%, hsl(25, 71%, 47%) 85%, hsl(25, 71%, 50%) 100%);
    background: linear-gradient(to bottom, hsl(25, 91%, 43%) 0%, hsl(25, 71%, 47%) 85%, hsl(25, 71%, 50%) 100%);
    }

nav > * {
    float: right;
}

nav a {
    margin: 2px; 
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 1em;
    text-decoration: none;    
    color: var(--black);
}

nav a:hover {
   /* text-decoration: underline; */
   color: var(--black2);
}

nav a:active {
    /* text-decoration: underline; */
    color: var(--dark-grey);            
}

nav img{
    width: 20px; 
    max-width: 100%; 
    height: auto;
    margin: 12px 12px 0 0;
    filter:saturate(2.5);
}
nav img:hover{
    transform: scale(1.2);
}

footer {
    width: 100%;
    height: 200px;
    background-color: var(--orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    margin-top: 4em;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul:first-of-type,
footer p:first-child {
    font-weight: bold;
}

footer img{
    width: 40px;
    height: 40px;
}

.grey{
    background-color: var(--dark-grey);
}


/********************************   @media  ***********************************************/

@media (max-width: 768px){
    
    body {
        font-size: 80%;
    }

    .division {
        flex-direction: column;
    }

    .division * {
        width: 100% !important;
    }

    footer img{
        width: 20px;
        height: 20px;
        margin: 0 6px;
    } 
    nav{
        height: auto;
        float: none;
        display: flex;
        flex-direction: column;
    }

    nav > * {
        text-align: center;
    }

    nav img {
        margin: 1em auto;
    }

    header {
        width: 100%;
        height: 300px;
        text-align: center;
        background-size: stretch;
        margin-bottom: 0;
    }

}

@media (max-width: 400px){
    body {
        font-size: 50%;
    }

}