<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3><br>
      <ul>
        <li>Date Format Request <br> <a href="api/timestamp/2021-01-03">[project url]/api/timestamp/2021-01-03</a></li><br>
        <li>Unix Timestamp Request <br> <a href="api/timestamp/1609632000000">[project url]/api/timestamp/1609632000000</a></li><br>
        <li>Invalid Request <br> <a href="api/timestamp/gdsaggs">[project url]/api/timestamp/gdsaggs</a></li><br>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1609632000000, "utc":"Sun, 03 Jan 2021 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By Chorche
      </p>
    </div>
  </body>
</html>
