

@{
    ViewBag.Title = "About";
}

<h2>Prueba de layout en About</h2>

<h3>Rrw</h3><br /><br />
<hr />
<ul>
    <li>@Html.ActionLink("Home", "Index")</li>
    <li>@Html.ActionLink("About", "About")</li>
</ul>