
@{
    ViewBag.Title = "Index";
}

<h2>Prueba de layout en Home Index</h2>
<p class="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget fringilla elit. Integer rutrum tortor fringilla vulputate efficitur. In euismod, diam eu commodo cursus, metus nunc iaculis mauris, quis ullamcorper velit quam non orci. Quisque sagittis in urna ac faucibus. In et aliquet arcu. Nunc faucibus porttitor enim, a ullamcorper lectus imperdiet non. Maecenas aliquet enim mauris, rutrum bibendum massa lacinia quis. Praesent vitae pretium libero, quis aliquet lacus.</p>
<p  class="inline">Nulla a blandit enim. Nam augue lectus, ultricies non interdum vitae, porttitor sit amet justo. Nullam dolor elit, ultricies ut elementum nec, malesuada vitae nisl. Donec mollis nunc vitae massa posuere, id iaculis nisi venenatis. Pellentesque in tortor iaculis, tristique ante et, dignissim ligula. In et nunc fermentum, dictum neque ut, pulvinar lectus. Duis viverra in elit et lobortis. Sed ullamcorper est in ipsum egestas, at vulputate ante semper. In tempor nulla ut ante congue, ut sodales nunc dictum. Aliquam aliquet ullamcorper tortor, eget dictum ex facilisis non. Cras placerat efficitur enim, vel interdum ligula pellentesque et. Curabitur tempor cursus elit, fermentum consectetur dui porttitor ac. Cras tristique rutrum arcu ut tristique. Vivamus dictum lacus eu justo feugiat, et dignissim mi ultrices. Sed a mi tincidunt, tempus nisl vel, cursus mi.</p>

<h3>Bvanvwjnevw</h3>
<p  class="inline">Nulla a blandit enim. Nam augue lectus, ultricies non interdum vitae, porttitor sit amet justo. Nullam dolor elit, ultricies ut elementum nec, malesuada vitae nisl. Donec mollis nunc vitae massa posuere, id iaculis nisi venenatis. Pellentesque in tortor iaculis, tristique ante et, dignissim ligula. In et nunc fermentum, dictum neque ut, pulvinar lectus. Duis viverra in elit et lobortis. Sed ullamcorper est in ipsum egestas, at vulputate ante semper. In tempor nulla ut ante congue, ut sodales nunc dictum. Aliquam aliquet ullamcorper tortor, eget dictum ex facilisis non. Cras placerat efficitur enim, vel interdum ligula pellentesque et. Curabitur tempor cursus elit, fermentum consectetur dui porttitor ac. Cras tristique rutrum arcu ut tristique. Vivamus dictum lacus eu justo feugiat, et dignissim mi ultrices. Sed a mi tincidunt, tempus nisl vel, cursus mi.</p>



@section Sidebar
{

    <p>Zone sidebar en Home/Index</p>
        <p>@Html.ActionLink("Home", "Index")</p>
        <p>@Html.ActionLink("About", "About")</p>

}